<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a Research Assistant at
      <a class="underline-link" href="https://github.com/ImmersiveAnalyticsUNCC" target="_blank">UNCC's Visualization Lab</a> working on my Thesis and building some AR projects for iPad and Microsoft Hololens with <a class="underline-link" href="https://cci.uncc.edu/directory/aidong-lu" target="_blank">Dr. Aidong Lu </a>. I am a Graduate student at 
      <a class="underline-link" href="http://www.ccis.northeastern.edu/" target="_blank">University of North Carolina</a> doing my Masters in Computer Science. I am also a passionate iOS app developer and have been working with 
      <a class="underline-link" href="https://www.imaginovation.net/" target="_blank">Imaginovation LLC </a>, for developing a iPad application during my summer internship.
    </p>

    <p>
      As a software engineer, I enjoy participating in each phase of software development life cycle starting from creating stories, creating prototypes and wireframes (Yes I love doing it too like <a class="underline-link" href ="https://www.figma.com/file/LNPXr52vQcjTL70MMcHkZ4uh/UNCC-YesPlusAppIdea?node-id=0%3A1" target="_blank">this one</a>), discussing and designing the right architecture and coding (of course) with high focus on keeping the code modular and reusable following the right design patterns which the architecture requires. I have used MVC and MVVM patterns and currently learning how protocol oriented programming works.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably playing my 🎸, roaming and exploring new places with my friends, facetim-ing 🤳 my family or cooking some delicious Indian food 😋
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
