<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">


    
    <div class="project blistabloc">
      <figure class="project__pic phones">
        <a href="https://itunes.apple.com/us/app/fedex/id1010729050?mt=8" target="_blank">
           <div class="phone">
            <img src="{{site.baseurl}}/img/featured/FedEx/iOS-2.png"  alt="">
          </div>
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/FedEx/iOS-3.png" alt="">
          </div>
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/FedEx/iOS-1.png" alt="">
          </div>

        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://www.fedex.com/en-us/shipping/mobile.html" target="_blank">FedEx</a>
        </div>
        <p>Create a shipping label, track shipment status and manage your packages wherever you are with the FedEx® Mobile app. Use the FedEx app to get quick rates, find a pickup or drop-off location, scan barcodes, and view rewards. Enroll in FedEx Delivery Manager® to customize when and where you’d like to receive your packages.</p>
      </figcaption>
    </div>




    <div class="project screentime">
      <figure class="project__pic phones">
        <a href="https://github.com/Ayyanchira/UNCC-YesPlus" target="_blank">
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/UNCC-YesPlus/ios1.png" alt="">
          </div>
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/UNCC-YesPlus/ios2.png" alt="">
          </div>
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/UNCC-YesPlus/ios3.png" alt="">
          </div>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/Ayyanchira/UNCC-YesPlus" target="_blank">UNCC-YesPlus</a>
        </div>
        <p>UNCC Yes Plus app provides a platform for organizers to host a event at any place in Universities and keep track of participating members. Backed by Firebase, the app allows enrolled members to instantly accept, mark tentative or reject event invitations. It also broadcasts quotes for daily motivation.</p>
      </figcaption>
    </div>



    <!-- <div class="project interventions">
      <figure class="project__pic">
        <a href="https://interventions.design/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/interventions/interventions.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://interventions.design/" target="_blank">Interventions</a>
        </div>
        <p>Interactive marketing website for Northeastern's first annual student-led design conference, Interventions.</p>
      </figcaption>
    </div> -->
  </div>
</section>
